body {
  background-color: white;
}
.tugumuda {
    filter: grayscale(1);
  
    height: 393px;
   display: block;
     margin: auto;
    width: 700px;
    background-color: white;
    justify-content: center;
   

    
}
.tugumuda:hover {
  filter: none;
}
.line {
  display: flex;
  justify-content: center;
  background-color: brown;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 10px;
  margin: auto;
  width: 80%;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  padding: 50px 0px;
}
.sejarah {
  
  background-color: rgb(0, 0, 0);
  justify-content: center;
  padding: 50px 0px;
  color: white;
  margin: auto;
  width: 80%;
 
}
.dalsej {
  text-align: justify;
 padding: 0px 50px;
 width: 80%;
 
}
.carousel-item{
  height: 550px !important;
  
}